*{
    overflow-x: hidden;
}
header{
    background-color: black;
   
    text-align: center;
    color: skyblue;
    
    
    
}
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}

.bg-skyblue {  background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
.text-cyan { color: #35bdff; }
.bg-white { background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left:1px solid gray;
    }

    .card {
        
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-top:50px;
        margin-left: 20px;
        margin-right: 10px;
        padding-left: 30px;
        padding-bottom: 100px;
        padding-top: 30px;
        background-color: black;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        
        
        
      }
      h4 b{
          color: skyblue;
      }
      p{
          color: skyblue;
      }


      .container input{
        background-color: rgb(27,112,137);
        border:0;
        width:350px;
        height:30px;
        padding: 0 20px;
        margin: 20px;
        font-size: 18px;
        border-radius: 10px;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 22px;
    }
    .container input::placeholder{
        color:rgba(255,255,255,0.5);
    }
    .container input:focus,#to-do-form button:focus{
        outline: none;
    }
    .container label{
       
    color: #fff;
     font-size: larger; 
    font-weight: bolder;
    padding-top: 70px;
    
    
        
        
    }
   
    .container #div1 {
        width: 500px;
        height: 200px;
         
        border: 3px solid purple;
        padding:50px;
        background-color: #aaaaaa ;
      }
      h4{
          color: gainsboro;
      }
      #img{
          opacity:0.4;
        margin-top:100px;
        height:250px;
      }
      .btn {
          width:90%;
          background-color: black;
          color: white;
          height:60px;
        
      }
      
      